<h6 class="hs">Home/Shop All/Face</h6>
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <img [src]="img1" class="img1" height="220" width="1120">
        </div>
        <div class="col-md-2">
      </div>
    </div>
</div>
<H2 class="head">FACE MAKEUP</H2>
<br><br><br>
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>

        <div class="col-md-6">  
            <h6>Get a flawless-looking natural matte finish with the range of Maybelline <br>&nbsp;&nbsp;Face Powders. Maybelline powders are formulated to blur your pores <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;and control your shine through the day.</h6>
        </div>
        <div class="col-md-3"></div>

        </div>
        </div>
<br>
<BR><br>
    <div class="container" > 
        <div class="row">
            <div class="headline">
            <div class="d-flex justify-content-center">
                <B><h3>FOUNDATION</h3></B>
    </div>
    </div>
        </div></div><br>
        <div class="container" > 
            <div class="row ">
                <ng-container *ngFor="let product of products">
                    <div class="col-md-3" *ngIf="product.productType=='face'">
                        
                        <div class="card " >
                            <div class="card-header">
                                
                            <div class="card-img-top d-flex justify-content-center">
                                   
                                      <img [src]="product.productImage" class="img-thumbnail" height="150" width="200" alt="">
                                </div>
                                <h6 ><i class="fa fa-heart" (click)="wishlist(product)" id="heart"></i></h6>
                            </div>
                            <div class="card-body">
                                     <div class="caption">{{product.productDesc}}</div>
                                    <h6> {{product.productPrice| currency:'INR'}}</h6>
                            </div>
                            <div class="card-footer">
                                <label class="d-flex justify-content-center" >
                                   
                               
                                    <div >
                                        <button class="btn" (click)="checkout()">Buy Now</button>&nbsp;
                                        <button class="btn" (click)="cart(product)">Add to Cart</button>
                                    </div>
                            </label>                                             
                            </div>
                        </div>
                        </div>
                    </ng-container>
                </div>
                
                </div>
            <BR><br>
                <div class="container" > 
                    <div class="row">
                        <div class="headline">
                        <div class="d-flex justify-content-center">
                            <B><h3>POWDER</h3></B>
                </div>
                </div>
                    </div></div><br><br>
                    <div class="container" > 
                        <div class="row ">
                            <ng-container *ngFor="let product of products">
                                <div class="col-md-6" *ngIf="product.productType=='POWDER'">
                                    
                                    <div class="card " >
                                        <div class="card-header">
                                            
                                        <div class="card-img-top d-flex justify-content-center">
                                               
                                                  <img [src]="product.productImage" class="img-thumbnail" height="150" width="200" alt="">
                                            </div>
                                            <h6><i class="fa fa-heart" (click)="wishlist(product)"id="heart"></i></h6>
                                        </div>
                                        <div class="card-body">
                                                 <div class="caption">{{product.productDesc}}</div>
                                                <h6> {{product.productPrice| currency:'INR'}}</h6>
                                        </div>
                                        <div class="card-footer">
                                            <label class="d-flex justify-content-center" >
                                               
                                           
                                                <div >
                                                    <button class="btn" (click)="checkout()">Buy Now</button>&nbsp;
                                                    <button class="btn" (click)="cart(product)">Add to Cart</button>
                                                </div>
                                        </label>                                             
                                        </div>
                                    </div>
                                    </div>
                            </ng-container>
                        
                            </div>
                            
                            </div>
                            <BR><br>
                                
                                    <div class="container" > 
                                        <div class="row">
                                            <div class="headline">
                                            <div class="d-flex justify-content-center">
                                                <B><h3>BLUSH</h3></B>
                                    </div>
                                    </div>
                                        </div></div><br><br>
                                <div class="container" > 
                                    <div class="row ">
                                        <div class="col-md-4"></div>
                                        <ng-container *ngFor="let product of products">
                                            <div class="col-md-4" *ngIf="product.productType=='Blush'">
                                                
                                                <div class="card " >
                                                    <div class="card-header">
                                                        
                                                    <div class="card-img-top d-flex justify-content-center">
                                                           
                                                              <img [src]="product.productImage" class="img-thumbnail" height="150" width="200" alt="">
                                                        </div>
                                                        <h6><i class="fa fa-heart" (click)="wishlist(product)" id="heart"></i></h6>
                                                    </div>
                                                    <div class="card-body">
                                                             <div class="caption">{{product.productDesc}}</div>
                                                            <h6> {{product.productPrice| currency:'INR'}}</h6>
                                                    </div>
                                                    <div class="card-footer">
                                                        <label class="d-flex justify-content-center" >
                                                           
                                                       
                                                            <div >
                                                                <button class="btn" (click)="checkout()">Buy Now</button>&nbsp;
                                                                <button class="btn" (click)="cart(product)">Add to Cart</button>
                                                            </div>
                                                    </label>                                             
                                                    </div>
                                                </div>
                                                </div>
                                        </ng-container>
                                        <div class="col-md-4"></div>
                                        </div>
                                        
                                        </div>
            
            
                                        <br><br>
                            <footer>
                                            <div class="container footer m-3 p-5 ">
                                                <div class="row">
                                                    <div class="col-md-2 text-light">
                                                        <h6><a class="dec" routerLink="/user/shop">Shop All</a></h6>
                                                        
                                                    </div>
                                                    <div class="col-md-2 text-light">
                                                        <h6><a class="dec" routerLink="/user/eyes">Eye Makeup</a></h6>
                                                    </div>
                                                    <div class="col-md-2 text-light">
                                                        <h6><a class="dec" routerLink="/user/lip">Lip Makeup</a></h6>
                                                    </div>
                                                    <div class="col-md-2 text-light">
                                                        <h6><a class="dec" routerLink="/user/face">Face Makeup</a></h6>
                                                    </div><br>
                                                    
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-2 text-light">
                                                        <h6 class="faq">FAQ</h6>
                                                    </div>
                                                    <div class="col-md-2 text-light">
                                                        <h6 class="faq">Terms of Service</h6>
                                                    </div>
                                                    <div class="col-md-2 text-light">
                                                        <h6 class="faq">Store Locator</h6>
                                                    </div>
                                                    <div class="col-md-2 text-light">
                                                       <h6 class="faq">Privacy Policy</h6>
                                                    </div><br>
                                                    
                                                </div>
                                            </div>
                                            <div class="move">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <i class="fa-brands fa-instagram text-white"></i>&nbsp;&nbsp;
                                                        <i class="fa-brands fa-facebook text-white"></i>&nbsp;&nbsp;
                                                        <i class="fa-brands fa-twitter text-white"></i>&nbsp;&nbsp;
                                                        <i class="fa-solid fa-video text-white"></i>&nbsp;
                                                        <br><br>
                                
                                
                                
                                                </div>
                                
                                                
                                            </div>
                                            
                <div class="row">
                    <div class="col-md-4 text-light">
                        <h6 class="at">@2023Maybelline New York</h6>
                    </div>
                </div>
                </div>
                                        
                                            
                                            
                                 </footer>