.container{
margin-right:200px;
}
/*#mycol{
    background-image:url('https://tse4.mm.bing.net/th?id=OIP.dzqB33x0LyqukcKpPZ52owHaFj&pid=Api&P=0&h=800');
background-repeat:no-repeat;
}*/
.img1{
    margin-left:-140px
}
.onimage{
    margin-top:-650px;
    margin-left: -500px;;
}
.fw{

    
    color: black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
